<p><strong>{{:data.website_title}}</strong> - NTNet Explorer</p>
<hr />
<p>{{:helper.link("Browse", null, {'Browse' : 1})}}</p>
<table style="width: 100%; margin-right: calc(0%);">
<tbody>
<tr>
<td style="width: 85%; color: black; background-color: #ffffff; text-align: left;">{{:data.website_url}}</td>
</tr>
</tbody>
</table>
<p>{{:helper.link("Refresh", null, {'Refresh' : 1})}}</p>
<table style="width: 100%; background-color: white; border-color: black;">
<tbody>
<tr>
<td>{{:data.website_content}}</td>
</tr>
</tbody>
</table>
